@model EditUserRolesViewModel

<h2>Редагування ролей для @Model.UserName</h2>

<form asp-action="EditRoles" method="post">
    <input type="hidden" asp-for="UserId" />
    <table class="table">
        <thead>
            <tr>
                <th>Роль</th>
                <th>Призначити</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.RoleName</td>
                    <td>
                        <input type="checkbox" name="Roles[@Model.Roles.IndexOf(role)].Selected" value="true" @(role.Selected ? "checked" : "") />
                        <input type="hidden" name="Roles[@Model.Roles.IndexOf(role)].RoleName" value="@role.RoleName" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>