@model WebApplication3.DTOs.CityCreateUpdateDto

@{
    ViewData["Title"] = "Create City";
}

<h1>Create City</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Slug" class="control-label"></label>
        <input asp-for="Slug" class="form-control" />
        <span asp-validation-for="Slug" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CountrySlug" class="control-label">Country</label>
        <select asp-for="CountrySlug" asp-items="@(ViewData["Countries"] as SelectList)" class="form-control">
            <option value="">-- select country --</option>
        </select>
        <span asp-validation-for="CountrySlug" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <!-- textarea, який буде замінено TinyMCE -->
        <textarea asp-for="Description" id="Description" class="form-control" rows="10"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        
        tinymce.init({
            selector: '#Description',
            height: 300,
            menubar: false,
            plugins: [
                'advlist autolink lists link charmap preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime table paste help wordcount'
            ],
            toolbar: 'undo redo | formatselect | bold italic backcolor | \
                      alignleft aligncenter alignright alignjustify | \
                      bullist numlist outdent indent | removeformat | help | code',
            content_css: '//www.tiny.cloud/css/codepen.min.css',
            
        });
    </script>
}